html, body {
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
}
body > div,
body > div > div,
body > div > div > div.login-form {
    /*height: 100%;*/
}
body > div > div > div.register-form {
    /*height: 100%;*/
}

.menu {
    height: 40%;
}

.home {
}

.skip-board {
}

.user {
}